@import "Styles/_variables.scss";

.button {
    background-color: $side-menu-color;
    color: $button-text-color;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
    border-radius: 10px;
    &--selected {
        background-color: $side-menu-button-color;
    }
    &__info {
        display: flex;
        align-items: center;
        padding-left: 20px;
        .img {
            width: 15px;
        }
        .option {
            margin-left: 10px;
            font-size: 14px;
        }
    }
    &__img {
        padding-right: 20px;
    }
    &:hover, &:focus {
        cursor: pointer;
    }
}

.options {
    &__option {
        padding: 0px 20px;
        display: flex;
        align-items: center;
        color: white;
        font-size: 12px;
        border-radius: 10px;
        margin: 5px 20px;
        &:hover, &:focus {
            cursor: pointer;
            background-color: $side-menu-button-color;
        }
        &--selected {
            background-color: $side-menu-button-color !important;
        }
        &__img {
            margin-right: 10px;
            img {
                height: 100%;
            }
        }
    }
}