@import "Styles/_variables.scss";

.bg {
    background-color: $side-menu-color;
    display: flex;
    align-items: center;
    .left {
        padding: 0px 20px;
        width: 50%;
        background-color: white;
        box-shadow: 5px 0px 5px #0000005b;
        .img {
            margin-top: 100px;
            position: relative;
            top: 80px;
            left: 20px;
            width: 150px;
            .logo {
                width: 150px;
            }
        }
        .form {
            .title {
                text-align: start;
                font-size: 24px;
            }
            height: 310px;
            border-radius: 30px;
            padding: 20px;
            z-index: 10;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .down {
            padding-bottom: 30px;
            margin-left: 20px;
            .link { 
                a {
                    color: $primary-color !important;
                }
                font-size: 14px;
                width: 150px;
                text-align: start;
                padding: 15px;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
            }
        }
    }
    .right {
        width: 50%;
        display: flex;
        justify-content: center;
        .logo {
            width: 90%;
        }
    }
}