/* Colors */

$primary-color: #D12632;
$ligther-primary-color: #e03434;

$light-color: #EEECED;
$side-menu-color: #3d2222;
$side-menu-button-color: #755454;

$shadow-color: #000000A0;

$button-color: #464646;
$button-text-color: #EEECED;
$button-color-contrast: #363636;
$button-selected-color: #535353;
$button-border-color: #7A7A7A;

/* Break points */

$break-fold: 360px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
$break-xxl: 1400px;

/* Margins */

$margin-top-base: 80px;
$margin-bottom-base: 50px;