@import "Styles/_variables.scss";

.out {
    width: 230px;
}

.out-small {
    width: 75px;
}

.menu {

    background-color: $side-menu-color;
    width: 190px;
    animation: open 1;
    height: 110vh;
    position: fixed;
    z-index: 99;

    &--closed {
        animation: close 1;
        width: 65px;
    }

    &__button {
        top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
        color: $light-color;
        background-color: $side-menu-color;
        $button-size: 30px;
        height: $button-size;
        right: -$button-size;
        width: $button-size;
        border-top-right-radius: calc($button-size / 2);
        border-bottom-right-radius: calc($button-size / 2);
    }
}

.center {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.mayer {
    height: 100px;
}

@media only screen and (max-width: $break-sm) {
    .menu {
        top: 122px;
    }
}